* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 1rem;
  background-color: brown;
}

section {
  width: 5rem;
  height: 5rem;
  border: 1px solid white;
  margin: 1rem;
}

#section1 {
  background-color: blue;
}

#section2 {
  background-color: #f96276;
}

#section3 {
  background-color: rgb(125, 211, 30);
}

#section4 {
  background-color: rgb(45, 121, 82, 0.8);
}

h3 {
  background-color: #fff;
  text-align: center;
  padding: 1rem;
}
